# .gitignore file

# Main Ignore Items:
# system files
.DS_Store
Thumbs.db
Desktop.ini

# data logs
*.log
npm-debug.log

# docker local files catch
*.tar
*.tar.gz

# node modules (future proofing)
node_modules/
dist/
build/

# Other Ignore Items:
# Python
__pycache__/
*.pyc

# Virtual Environments
venv/
env/

# Security items (environment variables holding keys/passwords)
.env